@import '../../styles/variables.module';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.2s, background-color 0.2s;

  // types
  &--min {
    width: 160px;
  }

  &:disabled {
    opacity: 0.5;
  }

  // colors
  &--orange {
    color: #ffffff;
    background-color: #d87d4a;
  }

  &--black {
    color: #ffffff;
    background-color: #000000;
  }

  &--clear {
    color: #000000;
    background-color: transparent;
    border: 1px solid #000000;
  }
}

@media (min-width: $media-l) {
  .btn {
    &:hover {
      cursor: pointer;
    }

    &--min {
      width: 160px;
    }

    &--orange {
      &:hover {
        background-color: #fbaf85;
      }
    }

    &--black {
      &:hover {
        background-color: #4c4c4c;
      }
    }

    &--clear {
      &:hover {
        color: #ffffff;
        background-color: #000000;
      }
    }
  }
}
