@import '../../styles/variables.module';

.desc {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;

  &__img {
    position: relative;
    padding-top: 91.75%;
    overflow: hidden;
    border-radius: 8px;

    > picture > img {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }

  &__txt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 32px;
    text-align: center;
    color: #000;

    > h2 {
      margin: 0 auto;
      max-width: 38rem;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.8rem;
      letter-spacing: 1px;
      text-transform: uppercase;

      > span {
        color: #d87d4a;
      }
    }

    > p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      opacity: 0.6;
    }
  }
}

@media (min-width: $media-m) {
  .desc {
    gap: 63px 100px;

    &__img {
      padding-top: 43.55%;
    }

    &__txt {
      max-width: 57.3rem;
      margin: 0 auto;

      > h2 {
        max-width: none;
        font-size: 4rem;
        line-height: 4.4rem;
        letter-spacing: 1.428px;
      }
    }
  }
}

@media (min-width: $media-l) {
  .desc {
    grid-template-columns: 1fr 540px;
    grid-template-rows: 588px;
    align-items: center;

    &__img {
      padding-top: 0;
      height: 100%;
    }

    &__txt {
      margin: 0;
      max-width: 44.3rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-align: left;
    }
  }
}
