@import '../../styles/variables.module';

.hero {
  position: relative;
  background-color: #191919;
  overflow: hidden;

  &__imgBox {
    margin: 0 auto;
    max-width: 500px;
    z-index: 1;
  }

  &__img {
    position: relative;
    padding-top: 136%; // 375:510

    > picture > img {
      position: absolute;
      display: block;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  &__textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 37.6rem;
    z-index: 10;
    transform: translate(-50%, calc(-50% - 2px));
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
      display: block;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.9rem;
      letter-spacing: 10px;
      padding-left: 10px;
      text-align: center;
      opacity: 0.5;
    }

    h1 {
      margin: 16px 0 24px 0;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4rem;
      text-transform: uppercase;
      letter-spacing: 1.285px;
      text-align: center;
    }

    > p {
      margin-bottom: 28px;
      max-width: 32.8rem;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      opacity: 0.75;
    }

    & > div {
      display: flex;
      justify-content: center;
    }
  }
}

@media (min-width: $media-m) {
  .hero {
    &__imgBox {
      max-width: 900px;
    }

    &__img {
      padding-top: 83.2%; // 768:639
    }

    &__textBox {
      max-width: 40rem;
      transform: translate(-50%, calc(-50% - 20px));

      h1 {
        margin: 24px 0;
        font-size: 5.6rem;
        line-height: 5.8rem;
        letter-spacing: 2px;
      }

      > p {
        margin-bottom: 40px;
        max-width: 34.9rem;
      }
    }
  }
}

@media (min-width: $media-l) {
  .hero {
    &__imgBox {
      max-width: 1440px;
      min-height: 630px;
      display: flex;
      align-items: center;
    }

    &__img {
      width: 100%;
      padding-top: 43.88%; // 1440:632
    }

    &__textBox {
      width: calc(100vw - 80px);
      max-width: $max-width-l;
      transform: translate(-50%, calc(-50% - 15px));
      align-items: flex-start;

      > span {
        padding-left: 0;
      }

      h1 {
        max-width: 39.6rem;
        text-align: left;
      }

      > p {
        text-align: left;
      }
    }
  }
}
