@import '../../styles/variables.module';

.btnBox {
  padding: 16px 0 24px 0;

  > button {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-width: 0;
    opacity: 0.5;
    font-family: 'Manrope', sans-serif;
    background-color: inherit;
    transition: color 0.1s, opacity 0.1s;
  }
}

@media (min-width: $media-m) {
  .btnBox {
    padding-top: 33px;
  }
}

@media (min-width: $media-l) {
  .btnBox {
    padding: 79px 0 56px 0;

    &_min {
      padding-bottom: 38px;
    }

    > button:hover {
      cursor: pointer;
      color: #d87d4a;
      opacity: 1;
    }
  }
}
